body {
  background-image: url('https://i.ibb.co/twDyTW3L/background-02.png');
  background-size: cover;
  background-position: center;
  overflow: hidden;
  z-index: -99;

}

.background {
  background-image: url('https://i.ibb.co/PsBgnvDn/background-01.png');
  position: fixed;              /* 화면 기준 고정 */
  left: 860px;
  top: 38.5px;                    /* 원하는 위치 */
  transform: translateX(-50%);
  width: 96vw;
  height: 96vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;   
}

.background-03 {
  background-image: url('https://i.ibb.co/4RB8fpVn/background-03.png');
  position: fixed;
  left: 0px;
  bottom: -315px;
  width: 100vw;
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -10;  
}

.scroll-area {
  position: fixed;  
  background-color: #ccc;
  width: 100%;
  height: 200px;
  top: 255px;   
  left:0px;
  border: 10px solid #232220;
  z-index: 0;  
}

.scroll-container {
  display: flex;
  overflow-x: scroll;

  width: 100vw;
  height: 250px;
  top: 220;
  align-items: center;
  position: relative;
  padding: 10px 0px;
  border-color: 'blue';
  border-width: 10px;
  gap: 30px;
}

.scroll-container::-webkit-scrollbar { /* 스크롤바 숨김 */
  display: none; 
} 


.scroll-border {
  border-top: 20px solid black;
  border-bottom: 20px solid black;
  width: 100%;
  height: 250px;
  top: 200px;
  position: fixed;
  z-index: 3;
}

.item {
  flex: 0 0 auto;
  width: 200px;
  height: 200px;
  margin: 0 20px;
  transition: all 0.7s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
}
.blank { /* 스크롤 양옆 빈칸 */
  opacity: 0;
  pointer-events: none;
}

.drink {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* 가운데 카드 강조 */
.item.active {
  transform: scale(0.6); 
  margin: 0 80px; 
}


.review-box {
  position: fixed;
  left: 1120px;
  top: 160px;            /* 제목 아래, 스크롤 영역 위 */
  width: 70vw;           /* 필요하면 60~80vw 조정 */
  min-height: 80px;
  padding: 16px 24px;
  box-sizing: border-box;

  z-index: 4;            /* 제목(아케이드 상단) 아래, 스크롤 영역 위에 오도록 */
}

.review-text {
  margin: 0;
  font-family: 'Noto Serif KR', serif;
  font-size: 10px;
  line-height: 1.5;
  color: #232220;
}



.title {
  width: 400px;
  height: 350px;
  position: absolute;
  left: 660px;
  bottom: 180px;
  z-index: 3;
}

.title img {
  width: 100%;
  z-index: 4;  
}

#svg-title {
  width: 480px;
  height: 200px;
  position: absolute;
  top: 380px;
  left: 535px;
  pointer-events: none;
  z-index: 9999;
}

#arcText {
  dominant-baseline: middle;
}

#movingText {
  fill: rgb(35,34,32);
  font-weight: 900;
  font-size: 70;
}

#shadowText {
  fill: rgb(170,140,96);
  font-weight: 900;
  font-size: 70;
}

.star {
  width:100%;
  position: absolute;
  top: 458px;
  left: 620px;
  z-index: 9;
}


.human {
  position: absolute;
  /* 배경 캔버스 기준 위치 (body 전체가 배경) */
  top: 202px;
  left: 656px;

  height: 810px;
  width: 413px;
  transform-origin: center top;  /* 어디를 기준으로 줄일지 */
  transform: scale(0.9);   

  z-index: 2;

  background-image: url('https://i.ibb.co/qM00f2mv/human-01.png');
  background-size: cover;
  background-position: center;
}




.clock {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 600px;
  height: 350px;
  border: 2px red;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock-img img {
  position: absolute;
  width: 90%;
  bottom: -250px;
  left: 50px;
  z-index: 2;
}

.hands {
  position: absolute;
  bottom: -33.38px;
  left: 53%;
  transform-origin: 50% calc(100% - 38.38px);

  /* 기본값: 중앙 정렬 + 스케일 */
  transform: translate(-50%, 0) scale(0.9);

  transition: transform 0.8s cubic-bezier(0.25, 1.5, 0.5, 1);
  z-index: 3;
}



.amount-img {
  position: absolute;
  bottom: -180;  /* JS에서 위치를 바꾸기 위해 초기값 */ 
  display: flex;
  align-items: flex-end;
  justify-content: center;
  z-index: 1;
}

.amount-img img {
  width: 100%;
  bottom: -100%;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.price {
  right: 0px;
  bottom: 0px;
  width: 600px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
  box-sizing: border-box;
  position: fixed; /* 내부 절대 위치를 위해 relative */
}

.price img {
  position: absolute;
  bottom: 0; /* 아래쪽 기준 */
  left: 0;   /* 겹치기 시작 위치 */
}

/* 카드 묶음 위치 */
.info-left,
.info-right {
  position: fixed;
  bottom: 360px;          /* 최종 위치(값까지 다 보일 위치) */
  display: flex;
  gap: 40px;
  z-index: 6;
  color: #232220;
  font-family: 'Noto Serif KR', serif;
  z-index: -20;

  /* 초기 상태: 카드 전체를 조금 아래로 내려서 레이블 상단만 보이게 */
  transform: translateY(60px);   /* 값은 레이블 높이 보면서 조정 */
  transition: transform 0.6s ease;
}

/* 스크롤 후: 제자리로 올라온 상태 */
.info-left.info-up,
.info-right.info-up {
  transform: translateY(0);
}


/* 올라온 상태 */
.info-left.show,
.info-right.show {
  transform: translateY(0);
  opacity: 1;
}

.info-left  { left: 240px; }
.info-right { right: 240px; }

/* 개별 카드 하나 (이미지 1장) */
.info-card {
  width: 140px;                /* 카드 PNG 폭에 맞게 */
  height: 90px;                /* 카드 PNG 높이에 맞게 */
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;     /* 가로 중앙 */
  align-items: flex-end;       /* 세로 아래 정렬 */
  padding-bottom: 20px;        /* 글씨를 조금 내려서 배치 */
  box-sizing: border-box;
}

/* 카드별 배경 이미지 */
.info-left .info-card:nth-child(1) {
  background-image: url('https://i.ibb.co/F4BwjFyM/amount-1.png');
}
.info-left .info-card:nth-child(2) {
  background-image: url('https://i.ibb.co/dw6zwtqq/caffeine.png');
}

.info-right .info-card:nth-child(1) {
  background-image: url('https://i.ibb.co/YBD0NG03/sugar.png');
}
.info-right .info-card:nth-child(2) {
  background-image: url('https://i.ibb.co/QLNtdW9/price.png');
}

.info-value {
  font-size: 22px;
  font-weight: 700;
  white-space: nowrap;
}



.stripe {
  position: fixed;
  left: 0;
  bottom: 310px;
  width: 100vw;
  height: 23px;
  z-index: -1;

  background-image: url('https://i.ibb.co/ynrmyydf/stripe-small.png');
  background-repeat: repeat-x;
  background-size: auto 100%;
  background-position-x: 0;
}

