body {
  background-image: url('https://i.ibb.co/5x8zzxWR/image.png');
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.scroll-container {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  width: 100vw;
  height: 340px;
  top: 200;
  align-items: center;
  position: relative;
  padding: 10px 0px;
  border-color: 'blue';
  border-width: 10px;
}

.scroll-container::-webkit-scrollbar { /* 스크롤바 숨김 */
  display: none; 
} 


.scroll-border {
  border-top: 20px solid black;
  border-bottom: 20px solid black;
  width: 100%;
  height: 250px;
  top: 200px;
  position: fixed;
  z-index: -2;
}

.item {
  flex: 0 0 auto;
  width: 200px;
  height: 200px;
  margin: 0 20px;
  transition: all 0.7s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blank { /* 스크롤 양옆 빈칸 */
  opacity: 0;
  pointer-events: none;
}

.drink {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* 가운데 카드 강조 */
.item.active {
  transform: scale(0.6); 
}

.title {
  width: 400px;
  height: 350px;
  position: absolute;
  left: 660px;
  bottom: 180px;
}

.title img {
  width: 100%;
}

#svg-title {
  width: 480px;
  height: 200px;
  position: absolute;
  top: 380px;
  left: 535px;
  pointer-events: none;
  z-index: 9999;
}

#arcText {
  dominant-baseline: middle;
}

#movingText {
  fill: rgb(35,34,32);
  font-weight: 900;
  font-size: 70;
}

#shadowText {
  fill: rgb(170,140,96);
  font-weight: 900;
  font-size: 70;
}

.star {
  width:100%;
  position: absolute;
  top: 458px;
  left: 620px;
}


.clock {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 600px;
  height: 350px;
  border: 2px red;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock-img img {
  position: absolute;
  width: 90%;
  bottom: -280px;
  left: 50px;
  z-index: 2;
}

.hands {
  transform-origin: 50% calc(100% - 38.38px);
  position: absolute;
  bottom: -38.38px;
  left: 49%;
  transform: translate(-50%, 0);
  transition: transform 0.8s cubic-bezier(0.25, 1.5, 0.5, 1);
  z-index: 3;
}


.amount-img {
  position: absolute;
  bottom: -100;  /* JS에서 위치를 바꾸기 위해 초기값 */ 
  display: flex;
  align-items: flex-end;
  justify-content: center;
  z-index: 1;
}

.amount-img img {
  width: 100%;
  bottom: -100%;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.price {
  right: 0px;
  bottom: 0px;
  width: 600px;
  height: 350px;
  border: 2px solid rgb(35,34,32);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
  box-sizing: border-box;
  position: fixed; /* 내부 절대 위치를 위해 relative */
}

.price img {
  position: absolute;
  bottom: 0; /* 아래쪽 기준 */
  left: 0;   /* 겹치기 시작 위치 */
}

.info {
  position: fixed;
  right: 40px;
  top: 40px;
  background: rgba(255,255,255,0.8);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  font-family: sans-serif;
  z-index: 10;
}

.info div {
  margin: 5px 0;
}